@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


body {
    max-width: 1440px;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Rubik Doodle Triangles", system-ui;
    font-family: "Work Sans", sans-serif;
    margin: auto;
  }


.btn-primary {
    width: 174px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 0px;
}
.btn-primary:hover {color: #131318;
  }

/* headwer section */

div .logo{
    display: none;
}

.header-section {
    max-width: 90%;
    padding: 0px 50px;
  }
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .nav-logo-section{
    display: flex;
    gap: 15px;
  }

  .nav-contant {
    display: flex;
  }

  .nav-contant-list {
    display: flex;
    gap: 20px;
  }

.nav-contant-list a {
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
  }

  .menu-bar {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
/* header-section-2 */



      .banner-section {
        max-width: 1440px;
        margin: 50px auto;
        background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        border-radius: 10px;
      }
      
      .banner-container {
        width: 100%;
      }
      
      .banner-text-container {
        text-align: center;
        width: 100%;
      }
      
      .banner-title {
        font-size: 4rem;
        color: #fff;
        font-weight: 800;
        text-align: center;
        padding-top: 50px;
      }
      
      .common-text {
        width: 58%;
        color: #fff;
        font-weight: 400;
        margin: auto;
      }
      
      /* banner inpt start */
      .banner-input-section {
        width: 80%;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        margin: 20px auto;
      }
      
      .banner-input-container {
        display: flex;
        justify-content: center;
        gap: 80px;
        padding: 15px;
      }
      
      .banner-input-box input {
        width: 60%;
        height: 30px;
        border-radius: 8px;
        background: #fff;
        border: 0;
        padding: 5px;
      }
      
      .dropdoun-menu {
        width: 120px;
        height: 40px;
        border-radius: 8px;
        background: #fff;
        border: 0;
        margin: 0px 20px;
        padding: 5px;
      }
/* Popular section */

.main-section {
    max-width: 80%;
    margin: auto;
    margin-left: 50px;
  }
  
  .popular-section {
    width: 100%;
  }
  
  .popular-container {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  
  .Popular-section-titel {
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
  }
  
  .Popular-section-p {
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
  }
  
  .Popular-section-text >li {
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
  }
  
  .secound-button {
    background-color: #ff5400;
    border: 0;
    padding: 14px;
    color: #fff;
    border-radius: 8px;
  }
  
  .Popular-section-img img {
    width: 150%;
  }
/* Popular section close */

/* Choose Your Destination */
.destination-section {
    width: 100%;
  }
  
  .destination-text-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .destination-contant {
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
  }
  
  /* destination-sectionend */
  /* detination img */
  .destination-image-container {
    width: 100%;
  }
  
  .destination-image-container-1, 
  .destination-image-container-2,
  .destination-image-container-3,
  .destination-image-container-4, 
  .destination-image-container-5,
  .destination-image-container-6,
  .destination-image-container-7 {
    position: relative;
    display: inline-block;
  }
  
  .location {
    position: absolute;
    color: #fff;
    font-size: 1.75rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .row-1 {
    display: flex;
    gap: 15px;
  }
  
  .row-1 img {
    width: 100%;
  }
  
  .row-2{
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  
  .row-2 img {
    width: 100%;
  }
  
  .row-3 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  
  .row-3 img {
    width: 100%;
  }
  
/* <!-- Why Choose Us --> */

.choose-us {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.choose-us-section-1-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-us-section-1-p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.choose-us-hotel-map {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.choose-us-hotel {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;


}

.choose-us-hotel-title {
    color: #131318;

    text-align: left;
    font-size: 24px;
    font-weight: 800;
    padding: 0px 20px;
}


.choose-us-hotel-p {
    color: #5A5A5D;
    width: 486px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 20px;
    text-align: left;
}

.choose-us-hotel-img {
    padding-left: 20px;
    padding-top: 20px;
}

.choose-us-map {
    width: 573px;
    height: 284px;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    text-align: left;

}

.choose-us-map-img {
    padding-left: 20px;
    padding-top: 20px;
}

.choose-us-map-title {
    color: #131318;

    text-align: left;
    font-size: 24px;
    font-weight: 800;
    padding: 0px 20px;
}


.choose-us-map-p {
    color: #5A5A5D;
    width: 486px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 20px;
    text-align: left;
}

.choose-us-price {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    text-align: left;
    background: rgba(233, 68, 68, 0.05);
    margin: auto;
    margin-top: 20px;
}

/* Deals Discounts section*/
.destination-text-container {

    text-align: center;

}

.destination-text-titel {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-text-p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}


.Deals-Discounts {
    width: 100%;
    margin: auto;
    text-align: center;
}

.discount-container {
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin-top: 20px;
    border-radius: 16px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.discount-card-container {
    position: absolute;
    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    gap: 25px;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 50%;

}

.discount-card {
    display: flex;
    padding: 5px;
}

.same {
    color: #ff5400;
    font-size: 1.25rem;
    font-weight: 800
}

.discount-container-2 {
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    width: 1170px;
    height: 500px;
    margin-top: 20px;
    border-radius: 16px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.discount-card-2 {
    display: flex;
    gap: 10px;
}

.time {
    color: #5a5a5d;
    font-weight: 400;
}

.discount-card-container-2 {
    position: absolute;
    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    gap: 25px;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 50%;
    transform: rotateY(180deg);
}

.btn-second {
    width: 174px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 0px;
    margin: 30px;
}

.simple-perfect {
    /* margin-top: 50px;
    width: 1170px;
    display: flex;
    margin: auto;
    row-gap: 20px;
    /* text-align: center;
    gap: 10px;
    margin-bottom: 50px; */
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    
}

.simple-perfact-text {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
}

.simple-perfact-p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.simple-perfect div li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
}

.Perfect-place img {
    width:100% ;
    /* position: absolute; */
}

.Watch-Our-Bangladesh {
    /* color: #FFF; */
    /* position: relative; */
    right: 30%;
    left: 30%;
    top: 40%;
    bottom: 30%;
}

.Newsletter-section {
    width: 80%;
    margin: auto;

}

.Newsletter-container {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    gap: 50px;
}

.contact-form {
    width: 33%;
    border-radius: 16px;
    border: 1px solid #ff5400;
    height: 320px;
    padding: 50px;
}

.contact-title {
    color: #131318;
    font-size: 1.6rem;
    font-weight: 800;
}

.news-input {
    display: block;
}

.news-input input {
    width: 95%;
    height: 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 10px 0;
    border: 0;
    padding: 5px;
}

.last-btn {
    width: 98%;
    height: 45px;
    border-radius: 8px;
    background: #ff5400;
    border: 0;
    color: #fff;
    padding: 5px;
}

.news-img img {
    max-width: 622px;
    /* width: 50%; */
    /* height: 422px; */
    /* position: absolute; */
    /* display: inline-block; */
}

.save-your-money {
    position: relative;
    width: 210px;
    /* height: 120px; */
    transform: rotate(-20deg);
    border-radius: 5px;
    background: #FF5400;
    color: #fff;
    padding: 5px;
    top: -178px;
    left: 90px;
    text-align: center;
}

.news-img {
    width: 100%;
}

/* footer section */

.footer {
    max-width: 1440px;
    /* height: 500px; */
    margin-top: 20px;
    background: rgba(19, 19, 24, 0.05);
  }
  
  .footer-container {
    
    max-width: 80%;
    /* padding-top: 10px; */
    
  }
  
  div.logo {
    display: flex;
    justify-content: center;
  }
  
  .footer-container {
    margin: auto;
    
    text-align: center;
  }
  
  .icon-footer {
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
  }
  
  .resarv p {
    text-align: center;
    padding-bottom: 50px;
  }



/* Why Choose Us end */
@media (max-width:600px) {
    .menu-bar{
        display: block;
    }

    .nav-contant > .nav-contant-list{
        display: none;

    }

    div .logo{
        display: flex;
    }
    .banner-title {
        font-size: 1.375rem;
      }
      .banner-input-container {
        flex-direction: column;
        gap: 10px;
      }
      .banner-input-box input {
        width: 80%;
        margin-left: 20px;
      }
      .dropdoun-menu {
        width: 83%;
        margin-left: 20px;
      }
      .btn-primary {
        margin-left: 20px;
        width: 83%;
      }

      .popular-container {
        flex-direction: column;
      }
      .row-1,
      .row-2,
      .row-3{
        flex-direction: column;
      }
      .choose-us-hotel-map{
        flex-direction: column;
      }
      .discount-card-2,
      .discount-card{
        flex-wrap: wrap;

      }
      .discount-card-p{
        font-size: 0.5rem;
      font-weight: 400;

      }
      .discount-container,
      .discount-container-2{
       width: 90%;

      }
      .Newsletter-container {
        flex-direction: column;
      }
      .news-img img {
        width: 100%;
      }
      
      .footer {
        width: 95%;
        margin: auto;
      }
      .Perfect-place img {
        margin-left: 50px;
        width: 80%;
      }
      .simple-perfect {
        flex-direction: column;
        gap: 20px;
      }
      .simple-perfact-text {
        color: #131318;
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 60px;}
        .choose-us-hotel {
            width: 100%;
        }
        .choose-us-hotel-p {
            width: 90%;
        }
        .choose-us-map,
        .choose-us-price  {
            width: 100%;
        }
        .choose-us-map-p
         {
            width: 92%;
        }
        .Popular-section-img img {
            width: 100%;
        }
        .contact-form {
            width: 70%;
            margin-top: 20px;
        }


}
